@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

html{
  background-color: #e7e7e7;
  opacity: 0.9;
  background-image:  radial-gradient(#0d0f31 1.1px, transparent 1.1px), radial-gradient(#0d0f31 1.1px, #e7e7e7 1.1px);
  background-size: 44px 44px;
  background-position: 0 0,22px 22px;
}

/* body {
  margin: 0;
  font-family: 'Cabin Sketch', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: #0d0f31;
    color: white;
    border-radius: 0.25rem;
    padding: 1rem;
}
